@model ASPNetTask.Areas.Admin.Models.HomeViewModel

@{
    ViewBag.Title = "UsersList";
}


@section Style {
    <link type="text/css" href="~/Areas/Admin/Public/vendors/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/Areas/Admin/Public/vendors/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/Admin/Public/vendors/sweetalert/dist/sweetalert2.css" rel="stylesheet" />
    <link type="text/css" href="~/Areas/Admin/Public/css/custom_css/users_list.css" rel="stylesheet" />
}
<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="right-side right-padding">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--section starts-->
            <h2>Users List</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-fw fa-home"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a href="#">Users</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "UserList")">Users List</a>
                </li>
            </ol>
        </section>
        <!--section ends-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-fw fa-line-chart"></i> Users Trend
                            </h4>
                            <span class="pull-right">
                                <i class="glyphicon glyphicon-chevron-up showhide clickable"></i>
                                <i class="glyphicon glyphicon-remove removepanel"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div id="bar-chart-stacked" class="flotChart1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--main content-->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Basic charts strats here-->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-fw fa-file-text-o"></i> Users List
                            </h4>
                            <span class="pull-right">
                                <i class="glyphicon glyphicon-chevron-up showhide clickable"></i>
                                <i class="glyphicon glyphicon-remove removepanel"></i>
                            </span>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table table-bordered" id="fitness-table">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Contact Number</th>
                                        <th>Status</th>
                                        <th>Edit/Save</th>
                                        <th>Delete/Cancel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.User)
                                    {
                                    <tr>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td>@user.ContactNumber</td>
                                        <td>@user.Status</td>
                                        <td>
                                            <a class="edit btn btn-primary" href="javascript:;">
                                                <i class="fa fa-fw fa-edit"></i> Edit
                                            </a>
                                        </td>
                                        <td>
                                            <a class="delete btn btn-danger" href="javascript:;">
                                                <i class="fa fa-trash-o"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col-md-6 -->
            <!--row -->
        </div>
        <!--row ends-->
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
@section Script{
    <script src="~/Areas/Admin/Public/vendors/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Public/vendors/datatables/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Public/vendors/jasny-bootstrap/js/jasny-bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Public/vendors/chartsjs/floatchart/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Public/vendors/chartsjs/floatchart/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Public/vendors/chartsjs/floatchart/jquery.flot.categories.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Public/vendors/chartsjs/floatchart/jquery.flot.tooltip.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Public/vendors/sweetalert/dist/sweetalert2.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Public/js/custom_js/users_list.js" type="text/javascript"></script>
}


