@model Service.ViewModel.AloViewModel
@{
    ViewBag.Title = "Index";
    var i = 0;
    var cls = "";
}

@section styles{

    <!--page level css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Public/sass/style.css">


}

<main>
    <section id="Services">
        <div class="container-fluid">
            <div class="row">
                <div class="holder">
                    <div class="img-holder">
                    </div>
                    <div class="text-holder">
                        <h2>ALl Services</h2>
                        <ul>
                            <li><a href="~/Views/Home/Index.cshtml">Home</a> </li>
                            <li><i class="fas fa-angle-double-right"></i></li>
                            <li>Services</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="Offer">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    @foreach (var item in Model.WeOffer)
                    {
                        <div class="text-holder">
                            <h1>@item.Header</h1>
                            <p>@item.Context</p>
                        </div>
                    }

                </div>
                <div class="col-lg-12 pt-5">
                    <div class="row">
                        @foreach (var item in Model.UstunContent)
                        {
                        <div class="col-lg-4">
                            <div class="holder">
                                <div class="icon">
                                    <span><i class="@item.Icon"></i></span>
                                    <span>@item.Number</span>
                                </div>
                                <h4>@item.Hearder</h4>
                                <p>@item.Context</p>

                            </div>
                        </div>
                        }
                        
                        

                    </div>
                </div>


            </div>
        </div>
    </section>
    <section id="Firstservice" class="service1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center pb-3"> <h1>@Model.yaglama.MainHeader</h1></div>
                <div class="col-lg-6">
                    <div class="img-holder">
                        <img src="~/Public/image/@Model.yaglama.Image1" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-holder">
                        <img src="~/Public/image/@Model.yaglama.Image2" alt="" srcset="">
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <div class="text-holder pt-3">
                        <h2>@Model.yaglama.Header</h2>
                        <hr>
                        <p>

                            @Model.yaglama.Context
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="Secondservice" class="service2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center pb-3"> <h1>@Model.AksesuarQurasdirma.MainHeader</h1></div>
                <div class="col-lg-6">
                    <div class="img-holder">
                        <img src="~/Public/image/@Model.AksesuarQurasdirma.Image" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-holder">
                        <img src="~/Public/image/@Model.AksesuarQurasdirma.Image2" alt="" srcset="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="text-holder pt-3">
                        <h2>@Model.AksesuarQurasdirma.Header</h2>
                        <hr>
                        <p>
                           @Model.AksesuarQurasdirma.Context                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="Choose">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-folder">
                        <h4>@Model.choose.Header</h4>
                        <hr>
                        <p>@Model.choose.Context</p>
                        <ul>
                            @foreach (var item in Model.choseeTag)
                            {
                                <li><i class="fas fa-check"></i> <span> @item.Text</span></li>
                                
                            }

                        </ul>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="text-holder">
                        <h4>Property</h4>
                        <hr>
                    </div>
                    <div class="accardion-holder">
                        @foreach (var item in Model.Accardion)
                        {
                            i++;
                            if (i == 1) { cls = "active"; }
                            else { cls = ""; }
                            <button class="my-btn btn btn-danger"><i class="my-icon far fa-arrow-alt-circle-right"></i> <span>@item.Header</span> </button>
                            <div class="accardion @cls">
                                <p>@item.Context</p>

                            </div>

                        }
                       
                        .</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{

 
    <script src="~/Public/js/checkout.js"></script>
    <script src="~/Public/js/main.js"></script>
    <script src="~/Public/js/service.js"></script>



}

